<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Movie</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="name" />
    </div>

    <div class="form-group">
        <label th:for="year">Year</label>
        <input class="form-control" th:field="year"}/>
    </div>

    <div class="form-group">
        <label th:for="origin">Place of origin</label>
        <input class="form-control" th:field="origin" />
    </div>

    <div class="form-group">
        <label th:for="director">Director</label>
        <input class="form-control" th:field="directors" />
    </div>

    <div class="form-group">
        <label th:for="cast">Actors</label>
        <input class="form-control" th:field="cast" />
    </div>

    <div class="form-group">
        <label th:for="genre">Genre</label>
        <input class="form-control" th:field="genre" />
    </div>

    <div class="form-group">
        <label th:for="wiki">Wikipedia link</label>
        <input class="form-control" th:field="wiki" />
    </div>

    <div class="form-group">
        <label th:for="plot">Plot</label>
        <input class="form-control" th:field="plot" />
    </div>

    <input type="submit" value="Add Movie" />
</form>

</body>
</html>